{% extends 'layouts/base.jinja2' %}

{# Title #}

{% block title %}Home{% endblock %}

{# Content #}

{% block content %}
<header class="vh-100 position-relative">
    {% include 'partials/navbar.jinja2' %}

    <div class="container position-absolute top-50 start-50 translate-middle text-center text-white">
        <h1 class="fw-semibold mb-3">Accurate, Fast, and Reliable Attendance Tracking</h1>
        <p class="mb-4">
            Keep attendance accurate and organized with intuitive tracking, reporting, and scheduling tools all in
            one simple platform
        </p>
        <button class="btn btn-primary fw-bolder">Getting Started</button>
    </div>
</header>
{% endblock %}