<header>
    <nav class="d-flex justify-content-around align-items-center py-3 x-navbar">
        <div class="text-white">LOGO</div>
        <div class="d-flex poppins-regular x-navbar__box">
            <a href="#" class="text-decoration-none x-navbar__link">Home</a>
            <a href="#" class="text-decoration-none x-navbar__link">Features</a>
            <a href="#" class="text-decoration-none x-navbar__link">About</a>
            <a href="#" class="text-decoration-none x-navbar__link">Contact</a>
        </div>
    </nav>
</header>