@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ============================================ */
/* ================ VARIABLE  ================= */

:root {
    --bg-primary-navbar: #0f172a;
    --bg-primary-navlink-hover: rgba(51, 65, 85, 0.77);

    --fg-primary-navbar: #f1f5f9;
}

/* ============================================ */
/* ============================================ */

/* ============================================ */
/* =============== CUSTOM CSS  ================ */

body {
    font-family: Inter, sans-serif;
}

header {
    background-image: linear-gradient(
            rgba(34, 34, 34, 0.6),
            rgba(34, 34, 34, 0.6)
        ),
        url("../img/hero-img.jpg");
    background-size: cover;
    background-position: center;
}
