<nav class="navbar">
    <ul class="nav-links">
        <li>
            <a
                href="{{ url_for('home_page') }}"
                class="nav-link {% if request.path == url_for('home')%}nav-link-active{% endif %}"
                >Home
            </a>
        </li>
        <li>
            <a
                href="{{ url_for('features') }}"
                class="nav-link {% if request.path == url_for('features')%}nav-link-active{% endif %}"
                >Features
            </a>
        </li>
        <li>
            <a
                href="{{ url_for('about') }}"
                class="nav-link {% if request.path == url_for('about')%}nav-link-active{% endif %}"
                >About
            </a>
        </li>
        <li>
            <a
                href="{{ url_for('contact') }}"
                class="nav-link {% if request.path == url_for('contact')%}nav-link-active{% endif %}"
                >Contact
            </a>
        </li>
    </ul>
</nav>
